<div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img class="imagen" src="./assets/img/Apto203/portada1.jpg" alt=""></div>
      <div class="swiper-slide"><img class="imagen" src="./assets/img/Apto203/patio.jpg" alt=""></div>
      <div class="swiper-slide"><img class="imagen" src="./assets/img/Apto203/zona.jpeg" alt=""></div>
      <div class="swiper-slide"><img class="imagen" src="./assets/img/Apto203/parqueadero.jpeg" alt=""></div>
      <div class="swiper-slide"><img class="imagen" src="./assets/img/Apto203/cocina.jpg" alt=""></div>
      <div class="swiper-slide"><img class="imagen" src="./assets/img/Apto203/habi2.jpg" alt=""></div>
      <div class="swiper-slide"><img class="imagen" src="./assets/img/Apto203/habi1.jpg" alt=""></div>
   
       
    </div>
    <!-- Paginación y navegación -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>