.btn1{

display: block;

}

.btn2{

float: left

}


.btn3{

float: right

}

.img-fluid{

display: inline-block;
width: 100px;

}

.mat-stepper-horizontal {
  margin-top: 20px;
  color: #ffffff;
}

.mat-mdc-form-field {
  margin-top: 16px;
  background-color: #ffffff;
  color: black;
  width: 396px;
}


.animated-input {
    position: relative;
    display: inline-block;
    width: 290px;
  
    input {
      width: 60%;
      padding: 4px;
      border: 2px solid #cccccc;
      border-radius: 10px;
      transition: border-color 0.3s ease-out;
    }
  
    label {
      position: absolute;
      top: 0;
      left: 10px;
      padding: 5px;
      background-color: rgb(255, 255, 255);
      font-size: 12px;
      color: #999;
      transition: top 0.3s, font-size 0.3s;
    }
  
    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: -18px;
      font-size: 10px;
      color: #333;
    }
  
    input:focus {
      border-color: #007bff;
    }
  }

  .modal-fade{

  width:50%;


  }