<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<button pripple="" (click)="showDialog()" pautofocus="" class="p-ripple p-element p-button p-component border-radius: 45px; width: 105px; height: 38px; top: 0px; position: relative;" ng-reflect-ng-class="[object Object]" type="button" data-pc-name="button" data-pc-section="root" style="
    right: 83px;
    border-radius: 38px;
    height: 38px;
">
<p-avatar _ngcontent-ng-c2540262578="" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" class="p-element" ng-reflect-image="https://primefaces.org/cdn/pri" ng-reflect-shape="circle"><div ng-reflect-ng-class="[object Object]" ng-reflect-ng-style="[object Object]" data-pc-name="avatar" class="p-avatar p-component p-avatar-image p-avatar-circle"><img src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="ng-star-inserted">

  </div>

</p-avatar>
  
 <span class="p-button-label ng-star-inserted" data-pc-section="label"></span>
</button>

<form [formGroup]="form" (ngSubmit)="onsubmit()">
    <p-dialog
    header="Header" 
    [(visible)]="visible" 
    [modal]="true" 
    [style]="{ width: '25rem' }">
        <ng-template pTemplate="header">
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <p-avatar 
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                    shape="circle" ></p-avatar>
                <span class="font-bold white-space-nowrap">
                    Amy Elsner
                </span>
            </div>
        </ng-template>

        <div class="flex align-items-center gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">
                Email
            </label>
            <input pInputText formControlName="email" class="flex-auto" type="email" />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
            <label for="email" class="font-semibold w-6rem">Password</label>
            <input pInputText formControlName="password" class="flex-auto" type="password" />
        </div>



<label style="position: relative;
display: flex;
justify-content: center;"  > o  </label>

<div class="position-footer">
        
    <ul style="float: left;" class="list-inline social-buttons w-100">
        <li class="list-inline-item" (click)="onClickgoogle()"  >
             <div class="crome">
                <img class="icon-crome"  src="assets/img/redes/crome.jpg"> Continua con google
            </div>
        </li>
       
    </ul>        
</div>

</p-dialog>
</form>

</html>