<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    
    <mat-accordion class="example-headers-align" multi>
     
        <mat-expansion-panel>
          <mat-expansion-panel-header>
    
            <mat-panel-description>
              <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
          </mat-expansion-panel-header>

            <mat-label>First name</mat-label>
            <mat-label>First name</mat-label>
            <mat-label>First name</mat-label>
       
        </mat-expansion-panel>
      </mat-accordion>
   


</html>