@media (min-width:720px) and (max-width:1500px) {
    .btn-whatsapp {
        display: block;
        width: 70px;
        margin-top: 0px;
        // height: -webkit-fill-available;
        color: #fff;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border-radius: 50%;
        line-height: 80px;
        text-align: center;
        z-index: 999;
    }
    .whatssapp {
        width: 67px;
        margin-top: 19px;
    }
    body {
        max-width: 100%;
        overflow: hidden;
    }
    .marca {
        width: 151px;
        height: 61px;
        border-radius: 57%;
        margin-top: -8px;
        margin-left: 68px;
    }
    .mat-toolbar-row {
        height: 65px;
        background: rgba(255, 255, 255, 1);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(73, 245, 233, 0.89) 48%, rgba(104, 192, 186, 0.78) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(0%, rgba(255, 255, 255, 1)), color-stop(7%, rgba(255, 255, 255, 0.98)), color-stop(48%, rgba(104, 192, 186, 0.89)), color-stop(100%, rgba(104, 192, 186, 0.78)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(100, 224, 216, 0.89) 48%, rgba(6, 239, 223, 0.78) 100%);
        ;
        background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(100, 224, 216, 0.89) 48%, rgba(6, 239, 223, 0.78) 100%);
        ;
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(100, 224, 216, 0.89) 48%, rgba(6, 239, 223, 0.78) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.98) 7%, rgba(100, 224, 216, 0.89) 48%, rgba(6, 239, 223, 0.78) 100%);
        ;
    }
    .mat-card {
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        position: relative;
        padding: 15px;
        width: 100%;
        left: 32px;
        max-width: 33%;
        margin-top: 0px;
        border-radius: 4px;
        height: 54px;
        background-color: #FFFFFF !important;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;
    }
    .content {
        height: 30px;
    }
    
.card-sidebar{

right:32px;
position: relative;

}

}