.card1{

    display: inline-block;
    width:100%;
    max-width: 620px;

}

.mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: 361px;
    position: relative;
    box-sizing: border-box;
}