
    <form [formGroup]="form" (ngSubmit)="onsubmit()">
    <p-dialog
    header="Header" 
    [(visible)]="visible" 
    [modal]="true" 
    [style]="{ width: '25rem' }">
        <ng-template pTemplate="header">
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <p-avatar 
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                    shape="circle" ></p-avatar>
                <span class="font-bold white-space-nowrap">
                    Amy Elsner
                </span>
            </div>
        </ng-template>
        <span class="p-text-secondary block mb-5">Registrate.</span>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="username" class="font-semibold w-6rem">
                Email
            </label>
            <input pInputText formControlName="email" class="flex-auto" type="email" />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
            <label for="email" class="font-semibold w-6rem">Password</label>
            <input pInputText formControlName="password" class="flex-auto" type="password" />
        </div>

        <ng-template pTemplate="footer">
            <p-button [routerLink]="['/login']"
                label="Cancel" 
                severity="secondary" 
                (onClick)="visible = false">
            </p-button>
                <p-button type="submit" 
                label="Save"
                severity="secondary"    
              >
        </p-button>
        </ng-template>
</p-dialog>
</form>


